*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("../IMG/imagem3.jpg");
	background-position: 50% 70%;
	color: white;
	font-family: arial;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;

}
body:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0 0 0 / 50%);
	z-index: -1;
}


input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1.2px solid white;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba(255,255,255,0.01);
	color: white;
	outline: none;
}
div#corpo-form{
	/*background-color: red;*/
	width: 420px;
}
div#corpo-form-Cad
{
	/*background-color: red;*/
	width: 420px;
	margin: 80px auto 0px auto;
}
div#corpo-form h1,div#corpo-form-Cad h1{
	text-align: center;
	padding: 20px;
}

a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}

a:hover{
	text-decoration: underline;
}

input[type=submit]{
	background-color: #E9967A;
	border: none;
	cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
}

div#msg-sucesso{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(50,205,50,.3);
	border: 1px solid rgb(34,139,34);
}

div.msg-erro{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(250,128,114,.3);
	border: 1px solid rgb(165,42,42);
}